<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certificate template</title>
  <link rel="stylesheet" href="./index.css" />
</head>
<body>
  <main>
    <header>
      <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
        <h1>Certificate of Completion</h1>
        <div id="proof">
          <div>Issuer:</div>
          <div>coin-society.eth</div>
          <div>Signer:</div>
          <div>0x1878DE1c17b0828B90D89b4c075Ec7B0FC978B06</div>
          <div>Message:</div>
          <div>bc1q3sqklhqpdwjnpthecn0pgeyatr4vf290ezxvq9</div>
          <div>Signature:</div>
          <div style="width: 350px;">
            0x174ee359f71c1da931c48f4e4235b3b398046584f8b0cede66b7383ff529170762222970194528b39705d26a5b99b1360366cb37eac8c2f56ec7c9faee6893871b
          </div>
        </div>
      </div>
      <img src="./award-icon.webp" width="200" />
    </header>
    <center>
      <h2>This certificate is presented to</h2>
      <h3>
        <span class="hash">bc1q3sqklhqpdwjnpthecn0pgeyatr4vf290ezxvq9</span>
      </h3>
      <div>
        For achieving the Bitcoin self-custodial management course.
      </div>
    </center>
  </main>
</body>
</html>