<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certificate template</title>
  <link rel="stylesheet" href="./index.css" />
</head>
<body>
  <main>
    <header>
      <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
        <h1>Certificate of Completion</h1>
        <div id="proof">
          <div>
            <a href="https://etherscan.io/name-lookup-search?id=coin-society.eth">Issuer</a>:
          </div>
          <div>coin-society.eth</div>
          <div><a href="https://etherscan.io/address/0x1878DE1c17b0828B90D89b4c075Ec7B0FC978B06">Signer</a></div>
          <div>0x1878de1c17b0828b90d89b4c075ec7b0fc978b06</div>
          <div>Message:</div>
          <div>bc1q3sqklhqpdwjnpthecn0pgeyatr4vf290ezxvq9</div>
          <div><a href="https://etherscan.io/verifySig/262181">Signature</a>:</div>
          <div style="width: 350px;">
            0x1a5bf80e6602d8384d15baf662348eb3f2792a561bce825ded2087a70eab9cad1463da8ff950934807ed165cbc3eb6c21a44498f4099440d867d59d50c761c6a1c
          </div>
        </div>
      </div>
      <img src="./award-icon.webp" width="200" />
    </header>
    <center>
      <h2>This certifies that</h2>
      <h3>
        John Doe
      </h3>
    </center>
    <div>
      has successfully demonstrated proficiency in the essential capabilities required for managing Bitcoin transactions and wallets, as outlined by the certifying entity.
    </div>
    <div>
      The certified capabilities include:
    </div>
    <ul>
      <li>Accepting Bitcoin payments.</li>
      <li>Monitoring Bitcoin transactions and on-chain balances.</li>
      <li>Restoring funds from a lost wallet.</li>
      <li>Transferring Bitcoin securely.</li>
    </ul>
    <div>
      This certificate is cryptographically signed by a wallet associated with the certifying entity, allowing verification of authenticity by any interested party.
    </div>
  </main>
</body>
</html>